body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  max-width: 60em;
  margin: auto;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #00e;
  text-decoration: none;
}

pre {
    border: 1px solid #222;
    border-radius: 3px;
    padding: 8pt;
    font-family: monospace;
    overflow: auto;
    margin: 1.2em;
}

/* table style */

table, th, td {
  border: 1px solid;
}

table {
  width: 100%;
}

table {
  border-collapse: collapse;
}

/*
  pagination/navbar style copied from https://bepsays.com
*/

.pagination,.globalnav>ul {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px
}

.pagination>li,.globalnav>ul>li {
    display: inline
}

.pagination>li>a,.pagination>li>span,.globalnav>ul>li>a {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #5e8aa6;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px
}

.pagination>li:first-child>a,.pagination>li:first-child>span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px
}

.pagination>li:last-child>a,.pagination>li:last-child>span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px
}

.pagination>li>a:hover,.pagination>li>span:hover,.pagination>li>a:focus,.pagination>li>span:focus {
    z-index: 2;
    color: #416276;
    background-color: #eee;
    border-color: #ddd
}

.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus,.globalnav>ul>li>.active {
    z-index: 3;
    color: #fff;
    background-color: #5e8aa6;
    border-color: #5e8aa6;
    cursor: default
}

.pagination>.disabled>span,.pagination>.disabled>span:hover,.pagination>.disabled>span:focus,.pagination>.disabled>a,.pagination>.disabled>a:hover,.pagination>.disabled>a:focus {
    color: #777;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed
}
