{{ define "main" }}
  {{ .TableOfContents }}

  <h1>{{ .Title }}</h1>

  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>

  {{ .Content }}


  {{ $lastmodMachine := .Lastmod | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $lastmodHuman := .Lastmod | time.Format ":date_long" }}
  <p>{{T "message-lastmod"}} <time datetime="{{ $lastmodMachine }}">{{ $lastmodHuman }}</time>.</p>

  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ end }}
