<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <header>
    {{ partial "header.html" . }}
  </header>
  <main>
    {{ .Content }} <!-- content of the archive page -->
    <table>
    {{ range .Site.RegularPages }}
      <tr>
        <td>{{ .Date | time.Format "2006-01-02" }}</td>
        <td><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></td>
      </tr>
    {{ end }}
    </table>
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
